/*@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");*/

/** {*/
/*  font-family: "Open Sans", sans-serif;*/
/*  margin: 0;*/
/*  padding: 0;*/
/*  box-sizing: border-box;*/
/*}*/

:root {
    --grey: #f1f0f6;
    --light-grey: #d8d7da;
    --dark-grey: #444;
    --light: #fff;
    --dark: #000;
    --green: #18b59a;
    --light-green: #ebfaf8;
    --dark-green: #149681;
    --red: #fc3b56;
}

html {
    overflow-x: hidden;
}

body {
    background: var(--grey);
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.container {
    max-width: 1200px;
}

/* MAIN */

.main {
    width: 100%;
    padding: 20px 45px 20px 45px;
    position: relative;
}

.main .template {
    background-color: var(--light);
    width: 100%;
    min-height: calc(100vh - 200px);
}

.main .template .template-header-bg {
    width: 100%;
    max-height: 160px;
    background-color: #667eea;
    height: 160px;
    padding: 50px;
    position: relative;
    color: #fff;
}

.main .template .template-header-bg .name-positions {
    position: absolute;
    /* margin-left: 20px; */
    left: 260px;
    bottom: 10px;
    text-transform: uppercase;
    color: var(--light);
}

.main .template .template-header-bg .name-positions .person-name {
    font-size: 28px;
    font-weight: 700;
}

.main .template .template-header-bg .name-positions p {
    font-size: 14px;
    font-weight: 600;
}

.main .template .basic-details {
    padding: 0 0 0 40px;
    display: flex;
    width: 100%;
}

.main .template .basic-details .person-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: -90px;
    margin-right: -20px;
    z-index: 100;
}

.main .template .basic-details .about {
    flex: 1;
    color: #fff;
}

.main .template .basic-details .about .addresses {
    display: flex;
    width: 100%;
    background-color: #6f42c1;
    gap: 20px;
    align-items: center;
    flex-direction: row;
    padding: 10px 35px;
    flex-wrap: wrap;
}

.main .template .basic-details .about .addresses .address {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    color: var(--light);
}

.main .template .basic-details .about .addresses .address span {
    font-size: 14px;
}

.main .template .resume-body {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    padding: 0 50px 10px;
}

.main .template .resume-body h4 {
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 5px;
}

.main .template .resume-body p {
    font-size: 14px;
    text-align: justify;
}

.main .template .skills-section {
    margin-top: 30px;
}

.main .template .skills {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 10px;
}

.main .template .skills h4 {
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 5px;
}

.main .template .skills .skill {
    width: 100%;
    /* background-color: var(--grey); */
    height: 50px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
}

.main .template .skills .skill .skill-details {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main .template .skills .skill .skill-name,
.main .template .skills .skill .skill-percentage {
    font-size: 14px;
    font-weight: 700;
}

.main .template .skills .skill .progress-bar {
    height: 12px;
    width: 100%;
    background-color: var(--grey);
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

.main .template .skills .skill .progress-bar .progress {
    background-color: #667eea;
    height: 100%;
    transition: all 0.3s ease;
}

.progress-1 {
    width: 20%;
}

.progress-2 {
    width: 40%;
}

.progress-3 {
    width: 60%;
}

.progress-4 {
    width: 80%;
}

.progress-5 {
    width: 100%;
}

.main .template .skills .skill .progress-bar .progress::after {
    content: "k";
    position: absolute;
    right: 0;
    top: -20px;
    z-index: 1000;
}

.main .template .job-experience {
    margin-top: 30px;
}

.main .template .job-experience h4 {
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 5px;
}

.main .template .job-experience .experiences {
    margin: 10px 0 0 20px;
    padding-left: 15px;
    border-left: 1px solid var(--light-grey);
}

.main .template .job-experience .experiences li {
    margin: 0 0 20px 5px;
    position: relative;
    border-bottom: 1px solid var(--light-grey);
    padding-bottom: 20px;
}

.main .template .job-experience .experiences li:last-child {
    border-bottom: 0;
    padding-bottom: 0;
}

.main .template .job-experience .experiences li::after {
    content: " ";
    width: 10px;
    height: 10px;
    background-color: #6f42c1;
    position: absolute;
    border-radius: 90%;
    top: 2px;
    left: -25px;
    /* border: 2px solid var(--light); */
}

.main .template .job-experience .experiences li h5 {
    font-size: 14px;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-weight: 700;
}

.main .template .job-experience .experiences li h5 .years {
    font-size: 14px;
    font-weight: 600;
    color: var(--dark-grey);
}

.main .template .job-experience .experiences li h6 {
    font-size: 14px;
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    font-weight: 600;
    color: var(--dark-grey);
    margin-top: 1px;
}

.main .template .job-experience .experiences li h6 .city {
    font-size: 14px;
}

.main .template .job-experience .experiences .description {
    font-size: 14px;
    color: var(--dark-grey);
    margin-top: 8px;
}

.main .template .education-section {
    margin-top: 20px;
}

.main .template .education-section h4 {
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 5px;
}

.main .template .education-section .education {
    margin: 10px 0 0 20px;
    padding-left: 15px;
    border-left: 1px solid var(--light-grey);
}

.main .template .education-section .education li {
    margin: 0 0 20px 5px;
    position: relative;
    border-bottom: 1px solid var(--light-grey);
    padding-bottom: 20px;
}

.main .template .education-section .education li:last-child {
    border-bottom: 0;
    padding-bottom: 0;
}

.main .template .education-section .education li::after {
    content: " ";
    width: 10px;
    height: 10px;
    background-color: #6f42c1;
    position: absolute;
    border-radius: 90%;
    top: 2px;
    left: -25px;
}

.main .template .education-section .education li .years {
    font-size: 14px;
    font-weight: 600;
    color: var(--dark-grey);
}

.main .template .education-section .education li h5 {
    font-size: 14px;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    gap: 5px;
    font-weight: 700;
}

.main .template .education-section .education li h6 span {
    display: block;
}

.main .template .education-section .education li h6 {
    font-size: 14px;
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    font-weight: 600;
    color: var(--dark-grey);
}

.main .template .education-section .education li h6 .city {
    font-size: 14px;
}

@media screen and (max-width: 991px) {
    .main {
        padding: 20px;
    }

    .main .template .skills {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 30px;
        row-gap: 10px;
    }
}

@media screen and (max-width: 767px) {
    .main .template .template-header-bg {
        height: 120px;
    }

    .main .template .template-header-bg .name-positions {
        left: 140px;
    }

    .main .template .template-header-bg .name-positions .person-name {
        font-size: 16px;
        font-weight: 700;
    }

    .main .template .template-header-bg .name-positions p {
        font-size: 9px;
        font-weight: 600;
    }

    .main .template .basic-details .person-img {
        width: 100px;
        height: 100px;
        margin-top: -60px;
        margin-bottom: 10px;
    }

    .main .template .basic-details {
        padding: 0 30px 0 30px;
        display: block;
        width: 100%;
        z-index: 1;
        position: relative;
    }

    .main .template .basic-details .about .addresses {
        gap: 10px;
        padding: 10px 15px;
    }

    .main .template .resume-body {
        padding: 0 30px;
    }

    .main .template .skills {
        grid-template-columns: repeat(1, 1fr);
    }

    .main .template .job-experience .experiences {
        margin-top: 10px;
        margin: 10px 0 0 05px;
        /* padding-left: 15px; */
        border-left: 1px solid var(--light-grey);
    }

    .main .template .education-section .education {
        margin-top: 10px;
        margin: 10px 0 0 05px;
        /* padding-left: 15px; */
        border-left: 1px solid var(--light-grey);
    }
}

/* MAIN */
